*{box-sizing: border-box;}
body
{
    font-family: 'Segoe UI';
    background-color: rgb(24, 23, 23);
    color:white;
    text-align: center;

    display: flex;
    justify-content: center;
}

h1 span
{
    color:#2ea7ec;
    font-size: 1.2em;
}

input
{
    padding: 10px 25px;
    font-size: 1.1em;
    outline: none;
    border:none;
    border-radius: 30px;
    margin: 50px 0;
}

button
{
    font-size:1.1em;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 50%;
    cursor:pointer;
    border:none;
    outline:none;
    color:white;
    margin-left: 10px;
}
#add  {background-color: #fcc81e;}
#check { background-color: #1ab41a;}
#kreuz { background-color: red;}
.liste_right span 
{
    color: #55b5ec;
    cursor:pointer;
}

#add:hover  {background-color: #fadc78;}
#check:hover { background-color: #1fce1f;}
#kreuz:hover { background-color: #f35f5f;}
#liste_right span:hover 
{
    color: #7ac1eb;
}

.liste
{
    margin-bottom: 15px;
    padding: 5px 0;
    border-bottom: 3px solid white;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
